pandas==2.2.2
lxml==5.2.1
pymongo==4.6.3
il-supermarket-scraper>=1.0.0
tqdm>=4.66
kafka-python>=2.0.2
pydantic>=1.10.0,<2.0.0

dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability